/*Движение первой НЛО слева направо*/
#nloOne {
    animation: nloOne 4s linear infinite;
}

@keyframes nloOne {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5%);
    }
    50% {
        transform: translateX(0);
    }
    75% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(0);
    }
}

/*Движение второй НЛО вверх и вниз*/
#nloTwo {
    animation: nloTwo 4s linear infinite;
}

@keyframes nloTwo {
    0%, 100% {
        transform: translateY(-40%);
    }
    50% {
        transform: translateY(30%);
    }
}

/*Движение третьей НЛО справа налево*/
#nloThree {
    animation: nloThree 4s linear infinite;
}

@keyframes nloThree {
    0%, 100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(0px, 10%);
    }
    50% {
        transform: translate(0px, 0);
    }
    75% {
        transform: translate(4%, -4%);
    }
    50% {
        transform: translate(0px, -10%);
    }
}

/*Движение первой тарелки по радиусу*/
#movingOne {
    animation: moveNloCircular 7s linear infinite;
    animation-delay: 0s;
}

@keyframes moveNloCircular {
    0% {
        transform: translate(0, -20%);
    }
    25% {
        transform: translate(20%, 0);
    }
    50% {
        transform: translate(0, 20%);
    }
    75% {
        transform: translate(-20%, 0);
    }
    100% {
        transform: translate(0, -20%);
    }
}

/*Движение второй тарелки вверх и вниз*/
#movingTwo {
    animation: moveUpDown 7s infinite;
    animation-delay: 0s;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(0);
    }
}

/*Движение третьей тарелки в хаотичном направлени*/
#movingThree {
    animation: movingThree 6s infinite;
    animation-delay: 0s;
}

@keyframes movingThree {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(0, 100%);
    }

    100% {
        transform: translate(0, 0);
    }
}

/*Добавляем цвет при наведение на мотор*/
.myPath {
    z-index: 1000;
    cursor: pointer;
    transition: fill 0.3s ease; /* Плавность изменения цвета */
}

.myPath:hover {
    fill: #30A7D3;
    stroke: #30A7D3;
}

/*Красим мотор */
#motor-yellow {
    position: relative;
    animation: colorChange 3s infinite;
    fill: #30A7D3;
    stroke: #30A7D3;
}

@keyframes colorChange {
    0%, 100% {
        fill: #30A7D3;
        stroke: #30A7D3;
    }
    50% {
        fill: #D04188;
        stroke: #D04188;
    }
    25% {
        fill: #30A7D3;
        stroke: #30A7D3;
    }
}

/*Движение деталей*/
#img_spin,
#img_line {
    animation: spin 8s linear infinite;
    transform-origin: center;
    animation-delay: 0s;
}

#img_motor {
    animation: spin 8s linear infinite;
    transform-origin: 169.559px 230.627px;
    animation-delay: 0s;
}

#img_motor-two {
    animation: spin 8s linear infinite;
    transform-origin: 225.051px 252.765px;
    animation-delay: 0s;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
