@media (max-width: 768px) {
    .nlo_item,
    .title,
    .circle_block,
    .details_block,
    .plates_items{
        border: 1px solid white;
    }

    .ellipse_img-circle{
        stroke-width: 2;
    }
}
@media (max-width: 414px) {
    body {
        font-size: 4vw;
    }

    .header_description,
    .nlo,
    .circle_blocks,
    .details,
    .details_blocks,
    .plates_items,
    footer {
        
        margin-top: 11px;
    }

    .nlo_items,
    .details_blocks {
        margin-bottom: 11px;
    }

    .nlo_none {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 0.5;
        }
        display: none;
    }

    .circle_none {
        display: none;
    }

    .circle_block {
        height: 173px;
    }

    .details_false {
        display: none;
    }

    .details_true {
        display: block;
        margin-bottom: 11px;
    }

    .details_flex {
        display: flex;
        gap: 4px;
        z-index: -101;
    }

    .details-step {
        margin-top: 0px;
    }

    .details_top {
        margin-left: -4%;
    }

    .details_bottom {
        margin-left: -4%;
    }

    .details_right-top {
        margin-left: -8%;
        top: 1%;
    }

    .details_right-bottom {
        margin-left: -8%;
        bottom: 1%;
    }

    .ellipse_img {
        width: 11px;
        height: 11px;
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #motor-svg {
        width: 407px;
        height: 200px;
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #nloOne {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }
    
    #svg {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #nloTwo {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #movingOne {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #movingTwo {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }
    }

    #movingThree {
        path {
            vector-effect: non-scaling-stroke;
            stroke-width: 1;
        }

        
    @keyframes moveNloCircular {
        0% {
            transform: translate(0, -15%);
        }
        25% {
            transform: translate(15%, 0);
        }
        50% {
            transform: translate(0, 15%);
        }
        75% {
            transform: translate(-15%, 0);
        }
        100% {
            transform: translate(0, -15%);
        }
    }
}
}